@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
.textBx{
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBx h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.textBx h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.home-pg-btn{
    display: flex; 
    margin: 1rem 0;
}